.icon-container {
  display: inline-block;
  overflow: hidden;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: antiquewhite;
  padding: 5px;

  transition: width 0.3s ease;
  cursor: pointer;
}

.icon-text {
  padding: 0px 10px 0px 10px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon-container:hover .icon-text {
  opacity: 1;
}
