#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.title-area h1 {
  margin: 0;
}

.link-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
